*{
 margin: 0;
 padding: 0;

}

 body{

    background-color: #E3DBD9 ;
 }


header, section, aside, footer{
        background-color:#FFFFFF;
       width: 90%;
       max-width: 1000px;
       margin:20px auto;
}

header ul {

    background-color: deepskyblue;
    overflow: hidden;
}

header ul{

    list-style: none;
}

header ul li{

    float: left;    
}

header ul li a{


    padding: 10px 20px;
    display: block;
    color:black;
    text-decoration: none;
}


article{
  
       width: 65%;
       margin-right:5px;
       float: left;
       background-color: #FFFFFF;
       padding: 20px;
       margin: 10px;
}

aside{

    width: 30%;
    float: left;
    background-color: orange;
}       